<div class="item">
    <img src="<%- movie.poster %>" alt="Film Poster">
    <div class="content">
        <h3><%- movie.title %></h3>
        <p>Release Date : <span><%- movie.release_date %></span></p>
        <p id="overview"><%- movie.overview %></p>
        <p>Popularity Score: <span><%- movie.popularity %></span></p>
    </div>
</div>